body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
  color: white;
}
#notes {
  width: 100%;
  min-height:100%;
  border: none;
  outline: none;
  padding: 16px;
  box-sizing: border-box;
}
#notes p:first-of-type {
  margin-top: 0;
}
#app {
  height: 100vh;
  overflow: auto;
}
#wrapper {
  height: 100vh;
  border-radius: 10px;
  background: #1d1d1d;
  color: beige;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}
#conversation {
  padding: 10px;
}
.message {
  padding: 6px;
  margin: 0;
}
.message:first-of-type {
  border-radius: 10px 10px 0px 0px;
}
.message:last-of-type {
  border-radius: 0px 0px 10px 10px;
}
.message p {
  margin: 6px;
}
.user {
  background: #5d5d5d;
}
.assistant {
  background: #3d3d3d;
}
*::-webkit-scrollbar-corner {
  background-color: rgba(0,0,0,0);
}
*::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 4px solid rgba(0,0,0,0);
  background-clip: content-box;
}
*::-webkit-scrollbar-track {
  border-radius: 0px 10px 10px 0px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid beige;
  padding: 4px;
}
